
.grad2{
    height: 50px;
    background-image: linear-gradient(to bottom,#f0ebcc,#343a40);
}
.footer{
    padding-left: 200px;
    margin: 0;
    color: blanchedalmond;
    background-color: #343a40;
    text-align: center;
    min-height: 100%;
}