.website_option{
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 50px;
    height: 30px;
    width: 30px;
}
.header-text{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: large;
}
.web-name{
    font-size: medium;
    font-family: 'Baloo Tammudu 2', cursive;
    color:rgb(74, 74, 87) ;
}
.body{
    padding-top: 20px;
    min-height: calc(100vh - 328px) ; 
    background-color: white;
    padding-left: 40px;
}
.link{
    margin-left: 90px;
}
.git{
    margin-left: 100px;
}
.drib{
    margin-left: 95px;
}
.x{
    margin-left: 100px;
}
.stack{
    margin-right: 40px;
}