
 @media (max-width:500px){
     .ok{
          padding-top: 100px;
     }
}
@media(min-width:1000px){
     .bt{
          margin-left: 500px;
     }
} 
.row{
     padding:0;
     margin:0 ; 
}
.bt{
     margin-top: 30px;
     margin-bottom: 18px;
}
.ok{
     margin: 0;
     padding-top:35px ;
     height: 100% ; 
     width: 100% ; 
     background-color: white;
     font-weight: bold;
}
.ed{
     padding-bottom: 50px;
}

.check{
     padding-left: 60% !important;
     color:#444444; 
     align-items: center;
     text-align: right;
}
.x{
     font-weight: lighter;
     padding-left: 20px;
}
.dropdown{
     margin-left: 45%;
     margin-top: 5px;
     margin-bottom: 5px;
}